-# in app/views/teams/show.html.haml

%h2 Details about Team #{@team_no}

%ul#details
    =link_to 'Register for an Event', event_path

<<<<<<< HEAD
%h3 Current Registered Events
%table#events
  %thead
    %tr
      %th Event Name
      %th Event Catagory
   
  %tbody
    - @eventsregistered.each do |event|
      %tr
        %td= event.event_name 
        %td= event.event_category
	
=======
>>>>>>> 4575f23da3cb3df59831cba421db901cf8be4eb6
