/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Georgia, serif;
  font-size: 50pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
div#loggg{
	text-align: right;
}
a {
  background: transparent;
  color: #002E99;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: #002E99;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h2{
  border-bottom: 1px solid DarkSlateGrey;
}

h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #002E99;
  color: #E6B300;
  border-bottom: 4px solid #E6B300;
  font-size: 2em;
  font-style: normal;
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
}
table#teams {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#teams th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#teams td {
  border: 2px solid white;
  background-color: #f2e3c9;
}
table#teams th, table#teams td {
  padding: 4px;
  text-align: left;
}

table#leagues {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#leagues th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#leagues td{
  border: 2px solid white;
  background-color: #f2e3c9;
}
table#leagues th, table#leagues td {
  padding: 4px;
  text-align: left;
}

table {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table td{
  border: 2px solid white;
  background-color: #f2e3c9;
}
table th, table td {
  padding: 4px;
  text-align: left;
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #CC0014;
}
